@CHARSET "UTF-8";

/***** HTML-CSS *****/
* {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

body {
	background-color: #111;
	margin: 0px;
}

header {
	font-size: 22pt;
	font-weight: 400;
	margin: 8px;
}

h1,
h1 > * {
	font-size: 14pt;
	font-weight: 200;
}

h2,
h2 > * {
	color: #ffcc00;
	font-size: 14pt;
	font-weight: 200;
}

h3,
h3 > * {
	font-weight: 300;
	font-size: 11pt;
}

/****** Map ******/
#map {
	/* position: absolute;
	top: 80px;
	left: 450px; */
}

#map .background {
	fill:none;
}

#map .region {
	fill: gray;
	stroke: #111;
	stroke-width: .2;
}

#map .region.active {
	fill: orange;
	stroke: white;
	stroke-width: 1px;
}

#map .region.highlight {
	stroke: white;
	stroke-width: 1;
	fill: #ddd;
}


/*** Trend analysis ***/
#trend-analysis {
	color: white;
	margin-left: 10px;
}

#trend-analysis .axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#trend-analysis .x.axis path {
	
}

#trend-analysis .axis text {
	fill: none;
	stroke: #909090;
}

#trend-analysis .line {
  fill: none;
  stroke: rgb(120, 199, 142);
  stroke-width: 1.5px;
}

#trend-analysis .dot {
	fill: rgb(80, 159, 102);
}
/**** Bar Chart ****/
.bar {
	fill: #ddd;
	stroke: #eee;
	stroke-width: 1px;
}

.bar.over {
	fill: orange;
}

text.textbar {
	font-size: 10pt;
}

text.label {
	font-size: 10pt;
}

.axis {
  stroke: #fff;
  stroke-width: .5px;
  font-size: 8pt;
}

.axis path {
	display: none;
}

.axis path,.axis line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

.axis.minor line {
	stroke: #232323;
	stroke-width: 1px;
}

.x.axis {
	
}

.y.axis {
	stroke: #ccc;
}

/**** Classes ****/
.ball {
	display: inline-block;
	width: 15px;
	vertical-align: middle;
}

.bullet { font: 10px sans-serif; display: inline-block; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #eee; stroke-width: .5px; }
.bullet .tick text {fill: #eee;}
.bullet .range.r0 { fill: #333; stroke: white;}
.bullet .range.r1 { fill: #ccc; }
.bullet .range.r2 { fill: #999; }
.bullet .range .bg { fill: #fff; }
.bullet .measure.m0 { fill: /*#009020;*/ #5F0808; }
.bullet .measure.m1 { fill: lightsteelblue; }
.bullet .title { font-size: 14px; font-weight: bold; fill: #fff;}
.bullet .subtitle { fill: #eee; }

.inline {
	display: inline-block;
	vertical-align: top;
	/* margin-left: 5px; */
}

.entry {
    width: 250px;
    background-color: rgba(255, 255, 255, .2);
    padding: 5px;
    margin: 1.5px;
    color: #fff;
    font-weight: 300;
    font-size: 14pt;
}

.entry:hover {
    background-color: rgba(255, 255, 255, .4);
}

.entry.active {
    /* background-color: rgba(250, 120, 46, .4); */
    background-color: orange;
}

.visible {
	display: block;
}

.ranking {
	stroke: #fff;
	stroke-width: 1.5px;
	fill: #fff;
	fill-opacity: .4;
}

.invisible {
	display: none;
}


/* IDs */

#wrapper {
	width:100%;
	height: 100%;
}

#lside {
	min-width: 40%;
	margin: 8px;
/* 	position: absolute;
	top: 20px;
	left: 10px, */
}

#hotels {
	min-width: 20%;
	max-height: 260px;
/* 	position: absolute;
	top: 50px; */
	right: 10px;
	overflow: auto;
/* 	position: fixed;
	top: 50px; */
}

#sentiment {
	width: 100%;
	position: absolute;
	/*bottom: 10px;
	right: 10px;*/
	padding: 10px;
	background: rgba(0, 0, 0, .3);
	z-index: -10;
}

#feedback {
	max-width: 600px;
	margin-left: 20px;
}

#rank-wrapper {
	font-weight: 200;
	background-color: rgba(255, 255, 255, .05);
	padding: 10px 40px 10px 40px;
	border-radius: 15px;
	text-align: center;
}

/*** Feedback table ***/
#table-wrapper {
  position: relative;
  width: 50%;
  margin-right: 10px;
}

#table-scroll {
  height: 300px;
  overflow: auto;  
  margin-top: 20px;
}

#table-wrapper table thead th > span {
  position: absolute;   
  top: -20px;
}

table {
  max-width: 100%;
  background-color: transparent;
}
th, th > span {
  text-align: left;
  font-weight: bold;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #555;
}


/*** Rank chart ***/
.progress-meter .background {
	fill: #ccc;
}

.progress-meter .foreground {
	fill: #334455;
}

.progress-meter text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
}